input, textarea, button {
  border: none;
  background: transparent;
  font-size: 15px;
  border-radius: 2px;
  padding: 10px 15px;;
  outline: none;
  line-height: 19px;
}


button:hover {
  cursor: pointer;
}